name: Validate renovate config

on:
  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/validate-renovate.yml'

jobs:
  validate-renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Validate
        run: docker run --rm \
          --mount type=bind,source="$PWD"/renovate.json,target=/usr/src/app/config.json,readonly \
          renovate/renovate:29.32.0-slim \
          renovate-config-validator
